@model Proyecto_Estructuras.Models.paciente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Centro general Vacunacion Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registrar">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Buscar">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Editar">Editar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Espera">Lista de Espera</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Download">Descargar Reportes</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Configuracion">Configuracion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form method="post" action="Agendar" class="Registrar">
    <div class="form-floating mb-3">
        <label for="floatingInput">Nombre</label>
        <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
    </div>
    <div class="form-floating">
        <label for="floatingInput">Apellido</label>
        <input type="text" class="form-control" name="Apellido" placeholder="Apellido">
    </div>
    <div class="form-floating">
        <label for="floatingInput">DPI, o en caso de no poseer ingrese CUI</label>
        <input type="tel" class="form-control" name="DPI_CUI" placeholder="DPI/CUI">
    </div>
    <div class="form-floating">
        <label for="floatingInput">Edad</label>
        <input type="tel" class="form-control" name="Edad" placeholder="Edad">
    </div>
    @{
        var listado = new List<SelectListItem>()
{
            new SelectListItem()
            {
                Text = "Médico, atiende pacientes con COVID-19",
                Value = "1"
            },
            new SelectListItem()
            {
                Text = "Médico",
                Value = "2"
            },
            new SelectListItem()
            {
                Text = "Estudiante ciencias de la salud",
                Value = "3"
            },
            new SelectListItem()
            {
                Text = "Cuerpos de Socorro",
                Value = "4"
            },
            new SelectListItem()
            {
                Text = "Personas internadas en asilos",
                Value = "5"
            },
            new SelectListItem()
            {
                Text = "Administrativos (sector salud)",
                Value = "6"
            },
            new SelectListItem()
            {
                Text = "Docente",
                Value = "7"
            },
            new SelectListItem()
            {
                Text = "Policía",
                Value = "8"
            },
            new SelectListItem()
            {
                Text = "Militar",
                Value = "9"
            },
            new SelectListItem()
            {
                Text = "Sector seguridad nacional",
                Value = "10"
            },
            new SelectListItem()
            {
                Text = "Sector municipal",
                Value = "11"
            },
            new SelectListItem()
            {
                Text = "Eggsa",
                Value = "12"
            },
            new SelectListItem()
            {
                Text = "Empagua",
                Value = "13"
            },
            new SelectListItem()
            {
                Text = "Ministerio de educación",
                Value = "14"
            },
            new SelectListItem()
            {
                Text = "Sector Justicia",
                Value = "15"
            },
            new SelectListItem()
            {
                Text = "Otro",
                Value = "16"
            },
        };
    }
    <p></p>
    <label>Grupo al que pertenece:</label>
    @Html.DropDownList("Grupo", listado)
    <p></p>

    <label>¿Padece alguna enfermedad crónica?:</label>
    <div class="form-group">
        @Html.RadioButtonFor(model => model.Enfermedad, "Sí", new { @checked = "true" }) Sí
        @Html.RadioButtonFor(model => model.Enfermedad, "No") No
    </div>
    <div>
        <center><button type="submit" class="Boton">Agregar</button></center>
    </div>
</form>
