
@{
    ViewData["Title"] = "Configuracion";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Centro general Vacunacion Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registrar">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Buscar">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Editar">Editar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Espera">Lista de Espera</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Download">Descargar Reportes</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Configuracion">Configuracion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form method="post" action="Configuracion" class="form-control-file">
    <div class="form-floating mb-3">
        <label for="floatingInput">Cantidad de pacientes por cita:</label>
        <input type="text" class="form-control" name="Cantidad" placeholder="Cantidad Pacientes">
    </div>
    <div class="form-floating">
        <label for="floatingInput">Duración de la cita en minutos:</label>
        <input type="text" class="form-control" name="Duracion" placeholder="Duracion">
    </div>
    <div>
        <center><button type="submit" class="Boton">Aceptar</button></center>
    </div>
</form>
