@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Centro general Vacunacion Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateNewUser">Create new User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<center><h1>Login page</h1></center>
<div class="loginbox">
    <div>
        <img class="avatar" src="~/Photos/images.png" />
    </div>
    <div>
        <form asp-controller="Home" asp-action="Index" method="post">
            <div>
                <label>email:</label>
                <input type="text" name="User" placeholder="Usuario">
            </div>
            <div>
                <label>password:</label>
                <input type="password" name="Password" placeholder="Contraseña">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>

    </div>
</div>
